:root {
  --dark: rgb(10, 10, 234);
  --light: white;
  --dark-blue: #0d3978;
  --border-radius: .3rem;
}

/*Styling for background image, making it fit the whole page*/
html {
  height: 100%;
}

.hero {
  padding: 2% 3%;
  background-color: var(--dark);
  color: var(--primary);
}

.page-title {
  font-size: 3.5rem;
  background-color: var(--dark);
  color: var(--light);
  padding: 0 0;
  display: flex;
  justify-content: center;
  border-radius: var(--border-radius);
}

/*forecast card styling*/
.card {
  background-color: #3889df; 
}

.card-header.date-header {
  background-color: #9bcdff; 
  font-size: 1.25rem; 
  font-weight: bold; 
}

.card-body .card-text strong {
  font-weight: bold; 
}
/*Current weather card styling*/
#current-weather-card .card-text p strong {
  font-weight: bold;
}

.card-title {
  font-size: 30px; 
  color: white; 
}

/*buttons for past cities*/
.city-button {
  display: block;
  width: 100%;
  margin-bottom: 5px; 
}

/*background image*/
body {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('/Assets/background.jpg'); 
  background-size: cover;
  background-position: center;
  opacity: 0.5; 
  z-index: -1; 
}

.content {
  position: relative;
  z-index: 1;
}