:root {
    --dark: rgb(26, 26, 209);
    --light: white;
    --dark-blue: #0d3978;
    --border-radius: .3rem;
  }

.hero {
    padding: 2% 3%;
    background-color: var(--dark);
    color: var(--primary);
  }

  .page-title {
    font-size: 2.5rem;
    background-color: var(--dark);
    color: var(--light);
    padding: 0 0;
    display: flex;
    justify-content: center;
    border-radius: var(--border-radius);
  }

  .card {
    background-color: #3889df; 
}

.card-header.date-header {
    background-color: #9bcdff; 
    font-size: 1.25rem; 
    font-weight: bold; 
}

.card-body .card-text strong {
    font-weight: bold; 
}

#current-weather-card .card-text p strong {
  font-weight: bold;
}