:root {
  --dark: #75A7AC;
  --light: #EBD7C6;
  --dark-blue: #126F74;
  --green: #5C7039;
  --lightgreen: #CFCB8B;
  --border-radius: .3rem;
}

/*Styling for background image, making it fit the whole page*/
html {
  height: 100%;
}

.hero {
  padding: 2% 3%;
  background-color: var(--dark-blue);
  color: var(--dark-blue);
}

.page-title {
  font-size: 3.5rem;
  background-color: var(--dark-blue);
  color: var(--light);
  padding: 0 0;
  display: flex;
  justify-content: center;
  border-radius: var(--border-radius);
}

/*forecast card styling*/
.card {
  background-color: var(--green); 
}

.card-header.date-header {
  background-color: var(--lightgreen); 
  font-size: 1.25rem; 
  font-weight: bold; 
}

.card-body .card-text strong {
  font-weight: bold; 
}
/*Current weather card styling*/
#current-weather-card .card-text p strong {
  font-weight: bold;
}

.card-title {
  font-size: 30px; 
  color: white; 
}

/*buttons for past cities*/
.city-button {
  display: block;
  width: 100%;
  margin-bottom: 5px; 
}

/*background image*/
body {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--dark);
  background-size: cover;
  background-position: center;
  z-index: -1; 
}

.content {
  position: relative;
  z-index: 1;
}

.form-control {
  display: block;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: white;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-secondary {
  color: #fff;
  background-color: var(--dark-blue);
  border-color: var(--dark-blue);
}